*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto";
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

}
a{
    text-decoration: none;
}
.cor-1{
    color: #4138e0;
}
#wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    gap: 15px;
    grid-template-columns:  minmax(30px, 60px) 1fr 1fr minmax(30px, 60px);
}
@media (max-width: 980px){
    #wrapper{
        grid-template-columns: 1fr;
    }
}
.side-left{
    display: grid;
    grid-column: 2;
    grid-template-rows: minmax(50px, 100px) minmax(50px, 150px) 1fr;
}
@media (max-width: 980px){
    .side-left{
        grid-column: 1;
    }
}
@media (max-width: 590px){
    .side-left{
        grid-template-rows: minmax(50px, 100px) minmax(50px, 300px) 1fr;
    }
}
.logo{
    max-width: 110px;
    align-self: center;
    color: #4138e0;
    font-size: 1.5rem;
    padding: 15px;

}
.logo span{
    color: #a59fff;
}
.text{
    justify-self: center;
    align-self: end;
    text-transform: lowercase;
    text-align: center;
}
@media (max-width: 980px){
    .text{
        max-width: 480px;
    }
}
@media (max-width: 590px){
    .text{
        display: none;
    }
}
.text span{
    color: #a59fff;
    text-transform: normal;
}
.img{
    justify-self: center;
    align-self: start;
}

.side-right{
    grid-column: 3;
    display: grid;
    place-content: center;
    grid-template-rows: minmax(50px, 100px)  1fr minmax(50px, 100px);
}
@media (max-width: 980px){
    .side-right{
        grid-column: 1;
    }
}

#form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 80px 40px 200px;
    gap: 30px;
    background: rgb(245, 245, 255);
    padding: 30px;
    border-radius: 10px;
    grid-row: 2;
 
}
@media (max-width: 565px){
    #form{
        /* padding: 90px; */
        width: 400px;
        grid-template-rows: 40px 140px 40px 200px;
    }
}
.login {
    grid-column: 1/-1;
    grid-row: 1;
}
.login h2{
    text-align: center;
    padding: 20px;
    color:#4138e0;
}
.wrapper-c{
    display: flex;
    gap: 5px;
}
@media (max-width: 565px){
    .wrapper-c{
        flex-direction: column;
        gap: 15px;
    }
}
::placeholder{
    color:rgb(199, 199, 213);
}
.c-1 input, .c-2 input{
    padding: 10px;
    border: 1px solid #a59fff;
    border-radius: 5px;
    outline: #4138e0;

}
@media(max-width: 590px){
    .c-1 input, .c-2 input{
        width: 100%;
    }
}
.c-2::after{
    content: 'Esqueceu sua senha?';
    display: block;
    font-size: 0.7rem;
    text-decoration: underline;
    margin-left: 40%;
    margin-top: 8px;
    color:#a59fff;
}
@media (max-width: 590px){
    .c-2::after{
     display: none;
    }
}
@media (max-width: 590px){
    .btn-form{
       align-self: flex-end;
    }
}
input[type='submit']{
    padding: 10px;
    border-radius: 5px;
}
#btn input{
    background: #4138e0;
    border: 1px solid #a59fff;
    color: #a59fff;
    font-weight: 700;   
    cursor: pointer;
}
#btn input:hover{
    background: #322bae;

}
.acess{
    display: grid;
    grid-column: 1/-1;
    grid-row: 4;
    gap: 15px;
}
.log{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 30px;
    justify-content: center;
    width: 100%;
}
.log p{
    color:#a59fff;
    text-transform: lowercase;
}
.new{
    border-radius: 30px;
}
.new button{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: #4138e0;
    color: #a59fff;
    font-size: 1.5rem;
}
.new button:hover{
    background: #322bae;
}
.teste{
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.teste:hover{
    background: #fff;
}
